---
import EventCard from "./EventCard.astro";
import Title from "../../common/Title.astro";
import Layout from "../../../layouts/Layout.astro";
import Button from "../../common/Button.astro";
import { getCollection } from "astro:content";

const allEvents = await getCollection("events");
const events = allEvents
  .sort(
    (event1, event2) =>
      new Date(event2.data.date).getTime() -
      new Date(event1.data.date).getTime(),
  )
  .slice(0, 3);
---

<Layout class="flex flex-col gap-4">
  <div class="absolute inset-0 -z-10 -mt-1 h-[60%] w-full bg-mainPurple"></div>
  <Title label="Nos évènements" />
  <div
    class="grid grid-flow-row gap-4 lg:grid-flow-col lg:grid-cols-12 lg:gap-5"
  >
    {events.map(({ slug }) => <EventCard id={slug} />)}
  </div>
  <Button
    label="Voir les précédents évènements"
    link="https://www.meetup.com/fr-FR/women-in-tech-bordeaux/events"
    external
    class="self-end"
    light
  />
</Layout>
