---
import { Image } from "astro:assets";
import Button from "../../common/Button.astro";
import event from "../../../assets/icons/event_available.svg";
import location from "../../../assets/icons/location.svg";

interface Props {
  label: string;
  link?: string;
  place?: string;
  date: Date;
}

const { label, link, date, place } = Astro.props;
---

<div
  class="flex flex-col rounded-t-sm bg-mediumPurple p-5 text-white shadow-lg"
>
  <span class="text-md">PROCHAIN ÉVÈNEMENT</span>
  <span class="text-lg font-bold">
    {label}
  </span>
</div>

<div
  class="flex flex-col items-start justify-between gap-4 rounded-b-sm bg-white p-5 lg:flex-row lg:items-center"
>
  <div class="flex flex-col gap-2">
    <div class="flex flex-row gap-1">
      <Image src={event} alt="" />
      <span>
        {
          date.toLocaleDateString("fr", {
            weekday: "long",
            day: "numeric",
            month: "long",
          })
        }</span
      >
    </div>
    <div class="flex flex-row gap-1">
      <Image src={location} alt="" />
      <span>{place || "Lieu à déterminer"}</span>
    </div>
  </div>
  {link && <Button label="S'inscrire" {link} external />}
</div>
