---
import Title from "../../common/Title.astro";
import Layout from "../../../layouts/Layout.astro";
import Organizer from "./Organizer.astro";
import { getCollection } from "astro:content";

const organizers = await getCollection("organizers");
---

<Layout
  noPadding
  class="bg-lightYellow flex flex-col gap-8 pt-9 pb-6"
  id="organizers"
>
  <Title label="Organisatrices" center light={false} />
  <div class="flex flex-col md:flex-row items-center justify-center gap-8">
    {organizers.map(({ slug }) => <Organizer id={slug} />)}
  </div>
</Layout>
