---
import { Image } from "astro:assets";

import Layout from "../../layouts/Layout.astro";
import GrappeNumerique from "../../assets/icons/grappe.png";
---

<Layout dark noPadding class="flex flex-col gap-10 py-[42px] text-white">
  <div class="flex flex-row items-center gap-3">
    <Image src={GrappeNumerique} alt="logo BeTomorrow" width={60} />
    <p>
      Les Women In Tech Bordeaux font partie de la grappe numérique, un
      rassemblement de plus de 33 communautés du numérique à Bordeaux.
      <br /><a
        href="https://www.lagrappenumerique.fr/#/"
        class="text-linkPurple2 underline"
        >Découvrir plus d’évènements Tech à Bordeaux avec la grappe numérique</a
      >
    </p>
  </div>
  <div class="flex flex-row justify-between">
    <p>
      Copyright {new Date().getFullYear()} - Made with ❤️ in Bordeaux
    </p>
    <ul class="flex hidden flex-row gap-4 text-white">
      <li>Protection des données</li>
      <li>Accessibilité</li>
      <li>Mentions légales</li>
    </ul>
  </div>
</Layout>
