---
import Layout from "../../layouts/Layout.astro";
---

<Layout dark class="flex flex-row justify-between pb-4">
  <p class="text-white">
    Copyright {new Date().getFullYear()} - Made with ❤️ in Bordeaux
  </p>
  <ul class="flex flex-row text-white gap-4 hidden">
    <li>Protection des données</li>
    <li>Accessibilité</li>
    <li>Mentions légales</li>
  </ul>
</Layout>
