---
import { Image } from "astro:assets";

import witLogo from "../../assets/wit.svg";
import eventPicture from "../../assets/photo_cover_1.png";
import Button from "../common/Button.astro";
import Layout from "../../layouts/Layout.astro";
import Title from "../common/Title.astro";
---

<Layout class="bg-mainPurple">
  <section
    id="hero"
    class="flex flex-row justify-center md:justify-between items-center"
  >
    <a href="/"
      ><Image src={witLogo} width="115" height="48" alt="Women in Tech" />
    </a>
    <ul class="flex-row gap-4 text-white hidden md:flex">
      <li><a href="#about">A propos</a></li>
      <li><a href="#join-us">Prendre part au WIT</a></li>
      <li><a href="#organizers">Organisatrices</a></li>
    </ul>
  </section>

  <section class="flex flex-col lg:flex-row items-center gap-7">
    <Image
      src={eventPicture}
      class="min-w-0 flex-grow basis-0"
      alt="photo d'un évènement"
    />
    <div class="flex flex-col flex-grow basis-0 items-start">
      <Title label="Women In Tech Bordeaux" />
      <p class="text-white">
        Ces évènements ont pour vocation d'apporter plus de visibilité aux
        femmes et aux minorités de genre dans la tech, de leur offrir un espace
        d’échange bienveillant et de partager leur expérience et leur expertise
        à travers la prise de parole. <br /><br />
        <b>Les évènements sont ouverts à toutes et tous.</b>
      </p>
      <div class="mt-4">
        <Button
          label="Rejoindre la communauté sur Meetup"
          external
          link="https://www.meetup.com/fr-FR/women-in-tech-bordeaux/?eventOrigin=your_groups"
        />
      </div>
    </div>
  </section>
</Layout>
