---
import FutureEvent from "./FutureEventCard.astro";
import PastEvent from "./PastEventCard.astro";
const { label, future = false } = Astro.props;
---

<div class="flex flex-col shadow-md rounded-sm">
  {future ? <FutureEvent label={label} /> : <PastEvent label={label} />}
</div>
