---
import Button from "./Button.astro";
---

<div class="flex flex-col shadow-md rounded-sm">
  <div class="bg-mediumPurple text-white p-5 shadow-lg rounded-t-sm">
    <div>PROCHAIN ÉVÈNEMENT</div>
    <span class="font-bold text-md"
      >Atelier : Débloquez des idées captivantes pour vos conférences !</span
    >
  </div>
  <div class="flex items-center justify-between p-5">
    <div class="flex flex-col">
      <span>Mercredi 11 Décembre</span>
      <span>SFEIR Bordeaux</span>
    </div>
    <Button label="S'inscrire" />
  </div>
</div>

<style></style>
