---
import FutureEvent from "./FutureEventCard.astro";
import PastEvent from "./PastEventCard.astro";

interface Props {
  label: string;
  link: string;
  future?: boolean;
}

const { label, link, future = false } = Astro.props;
const Component = future ? FutureEvent : PastEvent;
---

<div class="flex flex-col shadow-md rounded-sm">
  <Component label={label} link={link} />
</div>
