---
import Title from "./Title.astro";
import HeaderLinks from "./HeaderLinks.astro";

interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<HeaderLinks>
  <section class="flex flex-col items-center gap-7 lg:flex-row">
    <div class="flex flex-grow basis-0 flex-col items-start">
      <Title label={title} separatorColor="purple2" color="white" />
      <p class="leading-[29px] text-lightWhite1">
        {subtitle}
      </p>
    </div>
  </section>
</HeaderLinks>
