---
const { label, light = false } = Astro.props;
---

<h1 class="text-white">{label}</h1>
<div
  class:list={[
    "w-28 h-1 bg-pink mb-3 mt-3 text-black",
    { "text-white": light },
  ]}
>
</div>

<style></style>
