---
import type { HTMLTag } from "astro/types";

interface Props {
  as?: HTMLTag;
  label: string;
  light?: boolean;
  center?: boolean;
  separatorColor: "light-pink" | "dark-pink" | "purple" | "grey";
}

const { as, center, label, separatorColor, light = true } = Astro.props;

const Component = as || "h1";
---

<div>
  <Component
    class:list={[
      "text-xxl font-bold leading-10 text-black",
      { "text-white": light },
      { "text-center": center },
    ]}>{label}</Component
  >
  <div
    class:list={[
      "mb-3 mt-4 h-1 w-28",
      {
        "mx-auto": center,
      },
      { "bg-titleSeparatorPink": separatorColor === "light-pink" },
      { "bg-mediumGrey": separatorColor === "grey" },
      { "bg-pink2": separatorColor === "dark-pink" },
      { "bg-secondaryTitlePurle": separatorColor === "purple" },
    ]}
  >
  </div>
</div>
