---
import type { HTMLTag } from "astro/types";

interface Props {
  as?: HTMLTag;
  label: string;
  light?: boolean;
  center?: boolean;
}

const { as, center, label, light = true } = Astro.props;

const Component = as || "h1";
---

<Component
  class:list={[
    "font-bold text-black",
    { "text-white": light },
    { "text-center": center },
  ]}>{label}</Component
>
<div
  class:list={[
    "w-28 h-1 bg-pink mb-3 mt-3",
    {
      "mx-auto": center,
    },
  ]}
>
</div>
