---
interface Props {
  class?: string;
  dark?: boolean;
  noPadding?: boolean;
}

const { class: className, dark = false, noPadding } = Astro.props;
---

<div
  class:list={[
    "px-[10%] relative",
    { "bg-mainPurple": dark },
    { "pt-5 pb-5 lg:pb-9": !noPadding },
    className,
  ]}
>
  <slot />
</div>
