---
interface Props {
  class?: string;
  dark?: boolean;
  id?: string;
  noPadding?: boolean;
}

const {
  class: className,
  dark = false,
  noPadding = false,
  id: idValue,
} = Astro.props;
---

<div
  id={idValue}
  class:list={[
    "px-[10%] relative",
    { "bg-mainPurple": dark },
    { "pb-5 lg:pb-9": !noPadding },
    className,
  ]}
>
  <slot />
</div>
