---
interface Props {
  score: string;
  label: string;
  color: "pink" | "blue" | "purple" | "yellow";
}

const { score, label, color } = Astro.props;
---

<div class="flex flex-col">
  <div
    class:list={[
      "flex h-full max-w-sm flex-col p-4 pb-8 md:pb-4",
      {
        "bg-bubblePink": color === "pink",
        "bg-bubbleBlue": color === "blue",
        "bg-bubblePurple": color === "purple",
        "bg-bubbleYellow": color === "yellow",
      },
    ]}
  >
    <div class="text-4xl font-bold">{score}</div>
    <div>{label}</div>
  </div>
  <div
    class:list={[
      `arrow inline-block h-0 w-0 border-t-[25px]`,
      {
        "border-bubblePink": color === "pink",
        "border-bubbleBlue": color === "blue",
        "border-bubblePurple": color === "purple",
        "border-bubbleYellow": color === "yellow",
      },
    ]}
  >
  </div>
</div>

<style>
  .arrow {
    border-right: 25px solid transparent;
  }
</style>
