---
import { Image } from "astro:assets";

import aboutPicture from "../../../assets/photo_about.png";

import Layout from "../../../layouts/Layout.astro";
import Title from "../../common/Title.astro";
import Bubble from "./Bubble.astro";
---

<Layout class="flex flex-col gap-5.5 pb-7" id="about" noPadding>
  <div class="grid grid-flow-row md:grid-cols-2 items-center gap-4">
    <div class="flex flex-col gap-2">
      <Title label="Nos objectifs et nos valeurs" light={false} darkPink />
      <p class="leading-relaxed">
        Les WIT sont avant tout là pour rassembler les femmes et leur donner
        plus de visibilité sur la scène de la Tech. En leur offrant un espace de
        discussion bienveillant, l’opportunité de travailler ensemble et de
        partager leur expérience et leur expertise à travers des talks - qu’ils
        soient techniques ou non. Peu importe votre niveau de connaissance, que
        vous travailliez dans la tech ou non, vous êtes les bienvenu(e)s !
      </p>
    </div>
    <div class="-ml-[30px] md:ml-0">
      <Image src={aboutPicture} alt="Photo d'un événement" />
    </div>
  </div>

  <div class="flex flex-col gap-1">
    <h2 class="text-mmd font-bold mb-5">La place des femmes dans la tech</h2>
    <div
      class="grid grid-flow-row md:grid-cols-2 lg:grid-cols-4 lg:grid-flow-col gap-4 justify-center"
    >
      <Bubble
        score="16%"
        label="de femmes dans la tech à des postes dits techniques"
        color="pink"
      />
      <Bubble
        score="46%"
        label="déclarent avoir été victimes de comportements sexistes au travail"
        color="blue"
      />
      <Bubble
        score="+10%"
        label="sur le PIB français si la France était paritaire"
        color="purple"
      />
      <Bubble
        score="50%"
        label="de femmes quitte la tech avant leur 35 ans"
        color="yellow"
      />
    </div>
  </div>
</Layout>
